body{
	background:gray;
	height: 100vh;
	color: white;
	font-family: sans-serif;
	font-size: 15px;
}


.table {
	color: black;
	background-color: white;
	border-radius: 4px;
	border:2px solid black;
	padding: 4px;
}

.img-responsive{
	border-radius: 4px;
	margin: 5px auto;
	width: 380px; 
	height: 180px;

	
}


.col-md-4{
	margin: .5vw;
	font-size: 0;
	display: -ms-flexbox;
	-ms-flexbox-wrap:wrap;
	-ms-flexbox-direction: column;
	-webkit-flex-flow:row wrap;
	flex-flow: row wrap;
	display: -webkit-box;
	display: flex;
}

.col-md-4 .display {
	-webkit-box-flex:auto;
	-ms-flex:auto;
	flex:auto;
	width: 500px;
	margin: .5vw;
	color: green;
}

.col-md-4 .display img{
	border-radius: 2px;
	width: 400px;
	height: 250px;
}

.text-info{
			color: white;
			margin: 10px;

}
@media screen and (max-width: 400px){
	.col-md-4 .display{
		margin: 0;
	}
	.col-md-4 {
		padding: 0;
	}

}

.col-md-4{
	width: 600px;
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px;
	border-radius: 5px;
}


.display{
	position: absolute;
	width: 600px;
	height: 400px;
	background: black;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 5px;
}





